port = 5555

# mode="production"
mode="development"
registrationAllowed=false
adminpassword="mypassword"
basedir="dir to main.go"
xmldir="/tmp/zugferdxml"

# from mailjet
mailapikey="apikey"
mailsecret="mailsecret"

publishingserveraddress = "https://api.speedata.de"
publishingserverusername = "sdapi..."
cookiesecret="some secret"


[servers.development]
database = "sqlite3"
dbname = "test.db"

[servers.production]
database = "sqlite3"
dbname = "production.db"
