port = 5555

# mode="production"
mode="development"
registrationAllowed=false
useinvitationcodes=true

basedir="dir to main.go"
xmldir="/tmp/zugferdxml"

# from mailjet
mailapikey="apikey"
mailsecret="mailsecret"

publishingserveraddress = "https://api.speedata.de"
publishingserverusername = "sdapi..."
cookiesecret="some secret"


[servers.development]
database = "sqlite3"
dbname = "test.db"
dblogger = "info"


[servers.production]
database = "postgresql"
dbname = "crm_db"
dbuser = "crm_user"
dbhost = "localhost"
dbpassword = "mysecretpassword"
dblogger = "silent"
