{{template "header.html" .}}
{{template "_flash" .}}
{{ define "help-link" }}
<a href="https://docs.billingcat.de/de/docs/{{ . }}" target="_blank"
   class="ml-1 align-middle text-blue-500 hover:text-blue-700"
   title="Hilfe öffnen">
  <svg xmlns="http://www.w3.org/2000/svg"
       fill="none" viewBox="0 0 24 24" stroke-width="1.5"
       stroke="currentColor" class="w-4 h-4 inline-block">
    <path stroke-linecap="round" stroke-linejoin="round"
          d="M9.879 7.519c1.171-1.025 3.071-1.025
             4.242 0 1.172 1.025 1.172 2.687
             0 3.712-.203.179-.43.326-.67.442
             -.745.361-1.45.999-1.45 1.827v.75
             M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0
             Zm-9 5.25h.008v.008H12v-.008Z" />
  </svg>
</a>
{{ end }}

<form action='{{index . "action"}}' method="post">
    <input type="hidden" name="csrf" value="{{.CSRFToken}}">

    {{with index . "settings"}}
    <div class="grid sm:grid-cols-6 gap-4">
        <div class="sm:col-span-6">
            <label class="form-label flex items-center space-x-2" for="companyname">
                Eigener Firmenname
                {{ template "help-link" "mycompany" }}
            </label>
            <input class="bg-white border border-gray-300 text-sm rounded-lg focus:ring-primary w-full p-2.5"
                type="text" name="companyname" id="companyname" value="{{.CompanyName}}">
        </div>
        <div class="sm:col-span-6">
            <label class="form-label" for="contactperson">Ansprechpartner</label>
            <input class="bg-white border border-gray-300 text-sm rounded-lg focus:ring-primary w-full p-2.5"
                type="text" name="contactperson" id="contactperson" value="{{.InvoiceContact}}">
        </div>
        <div class="sm:col-span-6">
            <label class="form-label" for="ownemail">E-Mail</label>
            <input class="bg-white border border-gray-300 text-sm rounded-lg focus:ring-primary w-full p-2.5"
                type="email" name="ownemail" id="ownemail" value="{{.InvoiceEMail}}">
        </div>

        <div class="sm:col-span-6">
            <label class="form-label" for="address1">Adresse 1</label>
            <input class="bg-white border border-gray-300 text-sm rounded-lg focus:ring-primary w-full p-2.5"
                type="text" name="address1" id="address1" value="{{.Address1}}">
        </div>

        <div class="sm:col-span-6">
            <label class="form-label" for="address2">Adresse 2</label>
            <input class="bg-white border border-gray-300 text-sm rounded-lg focus:ring-primary w-full p-2.5"
                type="text" name="address2" id="address2" value="{{.Address2}}">
        </div>

        <div class="sm:col-span-1">
            <label class="form-label" for="zip">PLZ</label>
            <input class="bg-white border border-gray-300 text-sm rounded-lg focus:ring-primary w-full p-2.5"
                type="text" name="zip" id="zip" value="{{.ZIP}}">
        </div>

        <div class="sm:col-span-2">
            <label class="form-label" for="city">Ort</label>
            <input class="bg-white border border-gray-300 text-sm rounded-lg focus:ring-primary w-full p-2.5"
                type="text" name="city" id="city" value="{{.City}}">
        </div>

        <div class="sm:col-span-3">
            <label class="form-label" for="countrycode">Land</label>
            <input class="bg-white border border-gray-300 text-sm rounded-lg focus:ring-primary w-full p-2.5"
                type="text" name="countrycode" id="countrycode" placeholder="DE" value="{{.CountryCode}}">
        </div>

        <div class="sm:col-span-3">
            <label class="form-label" for="vat">USt.-ID</label>
            <input class="bg-white border border-gray-300 text-sm rounded-lg focus:ring-primary w-full p-2.5"
                type="text" name="vat" id="vat" value="{{.VATID}}">
        </div>
        <div class="sm:col-span-3">
            <label class="form-label" for="taxno">Steuernummer</label>
            <input class="bg-white border border-gray-300 text-sm rounded-lg focus:ring-primary w-full p-2.5"
                type="text" name="taxno" id="taxno" value="{{.TAXNumber}}">
        </div>
        <div class="sm:col-span-2">
            <label class="form-label" for="invoicetemplate">Rechnungsnr.-Vorlage {{ template "help-link" "mycompany/#rechnungsnummern-vorlage"}} </label>
            <input class="bg-white border border-gray-300 text-sm rounded-lg focus:ring-primary w-full p-2.5"
                type="text" name="invoicetemplate" id="invoicetemplate" value="{{.InvoiceNumberTemplate}}">
        </div>
        <div class="flex flex-col items-start space-y-1 sm:col-span-2">
            <label class="" for="uselocalcounter">Eigener Zähler je Kunde?</label>
            <input class="w-4 h-4 text-blue-600 border-gray-300 rounded focus:ring-blue-500" type="checkbox"
                name="uselocalcounter" id="uselocalcounter" value="true" {{ if .UseLocalCounter }}checked{{ end }}>
        </div>
        <div class="sm:col-span-2"></div>
        <div class="sm:col-span-2">
            <label class="form-label" for="bankname">Konto Inhaber</label>
            <input class="bg-white border border-gray-300 text-sm rounded-lg focus:ring-primary w-full p-2.5"
                type="text" name="bankname" id="bankname" value="{{.BankName}}">
        </div>
        <div class="sm:col-span-2">
            <label class="form-label" for="bankiban">IBAN</label>
            <input class="bg-white border border-gray-300 text-sm rounded-lg focus:ring-primary w-full p-2.5"
                type="text" name="bankiban" id="bankiban" value="{{.BankIBAN}}">
        </div>
        <div class="sm:col-span-2">
            <label class="form-label" for="bankbic">BIC</label>
            <input class="bg-white border border-gray-300 text-sm rounded-lg focus:ring-primary w-full p-2.5"
                type="text" name="bankbic" id="bankbic" value="{{.BankBIC}}">
        </div>
    </div>

    {{end}}
    <button
        class="bg-primary text-text mt-4 px-6 py-3 rounded-button font-bold hover:bg-hover hover:text-white transition-colors"
        type="submit">{{index . "submit"}}</button>
    <a href='{{index . "cancel"}}'>
        <button type="button"
            class="bg-accent-green text-text px-6 py-3 rounded-button font-bold hover:bg-hover hover:text-white transition-colors">
            Abbruch
        </button></a>
</form>

{{template "footer.html" .}}